<div class="friends">
    {{#each items}}
    <div class="friend">
        <div class="friend-info">
            <img src="{{photo_100}}"/>
            <div class="friend-name">{{first_name}} {{last_name}}</div>
        </div>
        <button class="friend-button" data-role="add-to-best-friends">Переместить</button>
    </div>
    {{/each}}
</div>